name: Rust

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]


permissions:
  contents: read
jobs:
  build-and-test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest, windows-latest ]

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install nightly rust
        run: rustup default nightly

      - name: Cache cargo registry
        id: cache-registry
        uses: actions/cache@v5
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
          key: ${{ runner.os }}-cargo-registry-v1
          restore-keys: |
            ${{ runner.os }}-cargo-registry-

      - name: Build
        run: cargo build


      - name: Run tests
        run: |
          cargo test
