name: Rust

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]


env:
  CARGO_TERM_COLOR: always
  PROTOCOL_BUFFERS_PYTHON_IMPLEMENTATION: python
permissions:
  contents: read
jobs:
  build-and-test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest, windows-latest ]
        python-version: [ '3.11', '3.12', '3.13' ]

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install nightly rust
        run: rustup default nightly

      - name: Cache cargo registry
        id: cache-registry
        uses: actions/cache@v5
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
          key: ${{ runner.os }}-cargo-registry-v1
          restore-keys: |
            ${{ runner.os }}-cargo-registry-


      - name: Build
        run: cargo build

      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: install anki
        run: |
          pip install anki

      - name: Run tests
        run: |
          cargo test --lib
